.dayVisibility {
    position: relative;
    box-sizing: border-box;
    width: 99.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .indicateur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .weatherIcon {
            width: 13px;
        }

        .ligne {
            height: 165px;
            position: absolute;
            top : -185px;
            border: 1.5px dotted rgba(255, 255, 255, 0.5);
            margin: 0;
            display: flex;
            justify-content: center;

            .indicTemp {
                position: absolute;
                top: -30px;
                font-size: 0.7em;
                margin: auto;
            }
        }

        p {
            font-size: 0.8em;
        }
    }

    @media screen and ( max-width: 460px) {
        font-size: 13px ;
    }

}