.dayVisibility {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1em;

    .indicateur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .ligne {
            height: 100px;
            position: absolute;
            top : -115px;
            border: 1.5px dotted rgba(255, 255, 255, 0.5);
            margin: 0;
        }

        p {
            font-size: 0.8em;
        }
    }


}