.moonIndications {
    position: relative;
    z-index: 90;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;;
    padding: 5px 20px;
    margin: 0 -5px;
    box-shadow: 0 0 5px rgba(255,255, 255, 0.5);
    color: rgb(2, 5, 22);
    width: min-content;

    span {
        font-size: 12px;
        width: max-content;
        word-wrap: normal;
    }
}