@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './weather-icons.min.scss';

* {
    font-family: 'Poppins', sans-serif;
}

#root{
    background: linear-gradient(207deg, rgba(7,116,138,1) 0%, rgba(0,207,249,1) 41%, rgba(0,212,255,1) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.App {
    box-sizing: border-box;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: auto;
}

header {
    width: 100%;
    text-align: center;
}

.centerElements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30%;

    .currentTemp {
        font-size: 90px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    .mainIcon {
        .containIcon {
            position: absolute;
            font-size: 20em;
            left: -40%;
            top: -20%;
            opacity: 0.3;
        }
    }


    .morningOrNot {
        margin-top: -1em;
        margin-left: -4em;
    }
}

.moonBloc {
    position: relative;
    width: 100%;
}

.footer {
    width: 100vw;
    margin-bottom: 2em;
}


@import './components/weatherindications.scss';
@import './components/toggleButton.scss';
@import './components/moonIndications.scss';