@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: rgb(24, 24, 34);
    color: white;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WeatherIndications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border: 2px solid white;
    border-radius: 14px;
    padding: 3em;
}

.titre {
    margin-bottom: 1em;
}

.contains-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contains-buttons button {
    border: 2px solid white;
    padding: 5px 15px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.contains-buttons button[data-selected='true'] {
    background-color: white;
    color: rgb(24, 24, 34);
    cursor: default;
}